TOKEN=
PHONE_ID=
NUMBER=

IMAGE_TEST_CONTENT=https://storage.googleapis.com/chat-integration-data-prod/134/624/0ad1d7e4-b92d-4ddb-97de-5deb4c8ca981.jpeg
TEXT_TEST_CONTENT="Livia, tudo show?"
AUDIO_TEST_CONTENT=https://storage.googleapis.com/chat-integration-data-prod/134/624/959b8a03-a4c1-41aa-b013-99161a9a872e
DOCUMENT_TEST_CONTENT=https://storage.googleapis.com/chat-integration-data-prod/134/624/e10b8728-739c-40d9-b5a1-884a5995e5d5.pdf
MEDIA_ID_TEST=1233520308187160